body {
  margin-top:250px;
}
.multi {
  text-align:center;
  margin: 150px;
  margin-top:200px;
  color:rgb(32, 219, 88);
  font-size: 36px;
  line-height: 42px;
}



p {
  text-align:center;
  margin-top:220px;
}

.input-container {
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border:none;
  position:relative;
}

label{
  font-size:20px;
  margin-right:20px;
  
}

.cnt {
  background-color: rgba(17, 16, 16, 0.781);
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}


